
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(183, 183, 183);
    padding: 20px;
    margin-left: 40px;
    }

a {
    color:#000000
}

a:hover {
    color: #2215ce;
}

a:visited {
    color: rgb(10, 12, 12);
}
#content{
    background-color: #c37017;
    width: 60%;
    margin: auto;
    border: 1px solid #aeaeae;
    border-radius: 25px;

}

#banner {
    background-color: #2e22cf;
    text-align: center;
    margin: 8px;
    border-radius: 25px;
}

#displayflex {
    display: flex;
    flex-direction: left;
    margin: auto;
    background-color:#c37017;
    width: 100%;
    border-radius: 25px;

}

.post {
    text-align: center;
    margin: 10px;
    padding: 25px;
    background-color: #087b21;
    background-color: #2e22cf;
    border-radius: 25px;
    margin-left: 20px;
}

.post .left {
    float: right;
    margin-right: 10px;
    display: block;
    width: 160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}