body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(247, 247, 247);
    color: rgb(253, 253, 253);
    padding: 20px;
    margin-left: 40px;
    }

a {
    color: #2215ce;
}

a:hover {
    color: #2215ce;
}

a:visited {
    color:#ffffff;
}
#content{
    background-color: rgb(19, 12, 12);
    width: 60%;
    margin: auto;
    border: 1px solid #0e0909;
    border-radius: 25px;

}

#banner {
    background-color:#2215ce;
    text-align: center;
    margin: 8px;
    border-radius: 25px;
}

#displayflex {
    display: flex;
    flex-direction: left;
    margin: auto;
    background-color: rgb(14, 10, 10);
    width: 100%;
    border-radius: 25px;
}

.post {
    text-align: center;
    margin: 10px;
    padding: 25px;
    background-color: #b3b3b2;
    background-color: #2e22cf;
    border-radius: 25px;
    margin-left: 20px;
}

.post .left {
    float: right;
    margin-right: 10px;
    display: block;
    width: 160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
