body {
    font-family: Arial, sans-serif;
    background-color: rgb(19, 4, 2);
    color: rgb(24, 3, 3);
    margin: 0;
    padding: 40px;
}
a {
    color:#cfddd3
}

a:hover {
    color: #2215ce;
}

a:visited {
    color: rgb(178, 179, 179);
}
#content{
    background-color: #c9c022;
    width: 50%;
    margin: auto;
    border: 1px solid #aeaeae
}

#banner {
    background-color: #2e22cf;
    text-align: center;
    margin: 8px;
}

#blogpost {
    margin: 10px;
    border: 1px solid #9a8b8b;
    background-color:rgb(116, 23, 202);

}

.post {
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-color: #c9c022;
    background-color: #2e22cf;
}

.post .left {
    float: right;
    margin-right: 10px;
    display: block;
    width: 160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}