
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(253, 252, 252);
    padding: 20px;
    margin-left: 40px;
    }

a {
    color:#000000
}

a:hover {
    color: #2215ce;
}

a:visited {
    color: rgb(178, 179, 179);
}
#content{
    background-color: #c9c022;
    width: 60%;
    margin: auto;
    border: 1px solid #aeaeae;
    border-radius: 25px;

}

#banner {
    background-color: #2e22cf;
    text-align: center;
    margin: 8px;
    border-radius: 25px;
}

#displayflex {
    display: flex;
    flex-direction: right;
    margin: auto;
    border: 1px solid #9a8b8b;
    background-color: red;
    width: 100%;
    border-radius: 25px;

}

.post {
    text-align: center;
    margin: 10px;
    padding: 25px;
    background-color: #c9c022;
    background-color: #2e22cf;
    border-radius: 25px;
}

.post .left {
    float: right;
    margin-right: 10px;
    display: block;
    width: 160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

